<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task form 3</title>
  <link rel="stylesheet" href="../css/styles__three.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
      <form action="#" name="contact__form" method="POST" class="form">
        <div class="form__header">
          <h3>CONTACT FORM</h3>
        </div>
        <div class="form__body">
          <div class="form__item">
            <label>Full Name*</label>
            <input type="text" name="full_name" value="">
          </div>
          <div class="form__item">
            <label>Email*</label>
            <input type="text" name="email" value="">
          </div>
          <div class="form__item">
            <label>Subject*</label>
            <input type="text" name="subject" value="">
          </div>
          <div class="form__item form__msgbig">
            <label>Message*</label>
            <input type="text" name="message" value="" class="form__msgbig2">
          </div>
        </div>  
        <div class="form__footer">
          <button type="submit">Submit Form</button>
        </div>
      </form>
      
    </div>
</body>
</html>