<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task form 1</title>
    <link rel="stylesheet" href="../css/styles__one.css">

</head>
<body>
    <form class="form">
<div class="form__css">
    <label class="form__onef">Твое имя <input type = "text"  style="width: 160px; height: 15px;" class="input__name" name="username"> </label>
    <label class="form__one">Твой email <input type="text" class="input__text" style="width: 160px; height: 15px;"  autofocus> </label>
    <label class="form__message">Тема сообщения <select id="emeil" style="width: 150px; height: 15px;"  class="input__text" name="emeil"></select> </label>
    <label class="form__onev">Текст * <textarea   rows="10"  name="feedback"  rows="10" placeholder="Type your message here..."></textarea></label>
<div class="footer">
    <label class="form__footer">Защита от спама * <input type = "text" size="2"  class="info_spam" id="spam"><img class="img" src="../img/1_uq_w8ytWwx5GjmFzgTUwqw.gif"  class="input__text" alt="капча"   width="60" height="40">     <a href="#"  class="link" target="_blank" rel="noreferrer noopener"> сменить картинку</a></label> </div>
    </form>
<button class="btn" type="button">Отправить</button>
</div>









</body>
</html>
