<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task form 2</title>
    <link rel="stylesheet" href="../css/styles__two.css">
</head>
<body>
    <form class = "form">
    <h1 class="title">Sign up</h1>
    <div class="name"> 
        <label>Name 
        <input type="text" name="username" autofocus /> </label>
    </div>
   
    <div class="email">
        <label>Email
             <input type="email" name="email" /> </label>
    </div>

    <div class="password">
        <label>Password 
            <input type="password" name="password" minlength="5" maxlength="12"  /> </label>
    </div>

    <div class="сonfirmation">
        <label>Сonfirmation 
            <input type="password" name="сonfirmation"  /> </label>
    </div>

    <button type="button" class="btn">Create my account</button>





    


</form>
</body>
</html>